<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" title="Okta Developer" href="https://developer.okta.com/"></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Community</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Forum</a>
            <a class="navbar-item" href="#">Blog</a>
            <a class="navbar-item" href="#">Toolkit</a>
          </div>
        </div>
        <a class="navbar-item" href="#">Pricing</a>
        <a class="navbar-item" target="#" target="_blank" rel="noopener">Okta.com</a>
        <a class="navbar-item" href="#" target="_blank" rel="noopener">Sign in to Okta</a>
        <div class="navbar-item">
          <a class="sign-up--button" href="/signup/">Sign Up</a>
        </div>
      </div>
    </div>
  </nav>
</header>
